################################################################################
#
# Programme Name: ABSF
# Application Name: absf.sh
# Description: An automated build system framework to build Linux from Scratch
#              from source code. 
#
# Module Name: absf.cfg
# Description: Configuration parameters for the build environment.
#
# Copyright (c) 2003 Gregory D. Horne (horne at member dot fsf dot org)
# 
################################################################################
#
#    This program is free software; you can redistribute it and/or modify
#    it under the terms of the GNU General Public License (version 2), or 
#    (at your option) any later version, as published by the Free Software 
#    Foundation.
#
#    The software is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with the software; if not, write to the Free Software
#    Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301 USA.
#
################################################################################


ABSF_USER=user
ABSF_HOME=/home/user

ABSF_ROOT=/mnt/lfs
ABSF_PARTITION=/dev/hda3
ABSF_SWAP_PARTITION=/dev/hda2
ABSF_BUILD_ROOT=/tools
ABSF_MBE_ROOT=/tools

ABSF_PACKAGE_ARCHIVE="../lfs-packages-6.3.tar"
ABSF_PACKAGES=${ABSF_MBE_ROOT}/root/packages
ABSF_PACKAGE_PATCHES=
ABSF_WORK=${ABSF_MBE_ROOT}/root/work

MODE=gcc
CC=${MODE}
export CC MODE
COUNT=1

STAGES="#MBE #SITE #GROUNDBREAKING #FOUNDATION #BOOTABLE"
